<section class="weight-tracker__login">
	<h1 class="app-title">Weight Tracker</h1>
    <%= render 'users/create_user_form' %>
    <p>Already a member? <%= link_to "Log in", login_path %></p>
</section>
