<p>Hi there,</p>

<p>Someone recently requested a password change for your WeightTracker account. If this was you, you can set a new password here:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p>If you don't want to change your password or didn't request this, just ignore and delete this message.</p>