/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font: 14px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: #fff;
}
.input-date,
.input-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
    border: none;
    background: none;
    border-radius: 3px;
    background: #FFFFFF;
    border: 1px solid #cfcfce;
    height: 45px;
    font-size: 16px;
    color: #3d3d3d;
    line-height: 45px;
    padding: 0 10px;
    position: relative;
}
.input-date input, 
.input-text input {
    border: none;
    background: none;
    padding: 0;
    min-height: 0;
    height: auto;
    margin-bottom: 7px;
    width: 100%;
    height: 100%;
    font: inherit;
    font-size: 16px;
    line-height: 1.2em;
    outline: none;
}
.weight-tracker__login {
	padding-top: 100px;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}
.weight-tracker__login .app-title {
    font-weight: 300;
    font-size: 60px;
}
.weight-tracker__login form {
	max-width: 300px;
	margin: 30px auto 0;
}
.weight-tracker__login .input-date,
.weight-tracker__login .input-text {
	margin-bottom: 15px;
}
.weight-tracker__login button {
	-webkit-box-shadow: 0px 1px 1px 0px rgba(217, 217, 217, 0.3);
	-moz-box-shadow: 0px 1px 1px 0px rgba(217, 217, 217, 0.3);
	box-shadow: 0px 1px 1px 0px rgba(217, 217, 217, 0.3);
	background: #ffffff;
	border: 1px solid #d9d9d9;
	color: #3d3d3d;
	padding: 15px 50px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 3px;
}

/* HEADER */
.mast-head {
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    height: 76px;
    z-index: 99;
    font-size: 0;
    background-color: #fff;
    border-bottom: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
}
.weight-tracker .container {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width: 1200px;
    min-width: 600px;
    position: relative;
}
.mast-head .mast-head__container {
	min-height: 100%;
}
.mast-head .mast-head__nav {
    top: 22px;
    right: 105px;
    bottom: 22px;
    left: 105px;
    position: absolute;
    width: auto;
    height: 32px;
    z-index: 3;
}
.mast-head .mast-head__nav .nav-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0;
    text-align: right;
}
.mast-head .mast-head__nav .nav-list .nav-list__item {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    position: relative;
    line-height: 28px;
}
.weight-tracker .button-link {
    font-size: 14px;
    border: none;
    background: none;
    color: #007ee5;
    outline: none;
    margin: 0;
    padding: 7px 16px;
    border-radius: 5px;
    filter: none;
    text-decoration: none;
}

/* PROFILE */
.user-profile h1,
.user-profile h2 {
	text-align: center;
}

/* FOOTER */
.weight-tracker .footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

