<header class="mast-head nav navbar-nav">
	<div class="mast-head__container container">
		<nav class="mast-head__nav">
			<ul class="nav-list">
				<li class="nav-list__item">
					<%= link_to "Sign in", '#', class: "sign-in button-link" %>
				</li>
			</ul>
		</nav>
	</div>
</header>