<header class="mast-head nav navbar-nav">
	<div class="mast-head__container container">
		<nav class="mast-head__nav">
			<ul class="nav-list">
				<% if logged_in? %>
				  <li class="nav-list__item"><%= link_to "Sign out", logout_path, method: "delete", class: "sign-in button-link" %></li>
				<% else %>
				  <li class="nav-list__item"><%= link_to "Sign in", login_path, class: "sign-in button-link" %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>