<header class="mast-head nav navbar-nav">
	<div class="mast-head__container container">
		<nav class="mast-head__nav">
			<ul class="nav-list">
				<% if logged_in? %>
					<li class="nav-list__item header-account-menu">
						<a class="header-nav-link"><%= @user.name %></a>
						<div class="sub-nav">
							<ul>
								<!-- TEMP LINK -->
								<li><a href="">Settings</a></li>
								<li><%= link_to "Sign out", logout_path, method: "delete", class: "sign-in button-link" %></li>
							</ul>
						</div>
					</li>
				<% else %>
				  <li class="nav-list__item"><%= link_to "Sign in", login_path, class: "sign-in button-link" %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>